In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/MatticusBa/consultinggroup/main/DATA-462%20Loqbox%20Analytics%20Project%20-%20Membership%20Downgrades%20Data%20(1).csv?token=GHSAT0AAAAAAB6DKJ2W5A53SX7P64ZONFEMY6X7Q2Q")
df.head()

,customer_id,upgraded_at,downgraded_at,activated_save,activated_spend,activated_rent,activated_coach,update_reason
0,18,2022-06-06 11:05:27.000,2022-11-16 20:34:41.000,1,0,1,0,"[{""value"": ""1"", ""reason"": null}]"
1,252,2022-02-12 09:23:22.000,2022-03-14 16:17:01.000,1,0,0,0,"[{""note"": ""`Member wants to proceed with Save ..."
2,267,2022-03-01 08:49:00.000,2022-05-08 12:37:56.000,1,0,0,0,"[{""value"": ""0"", ""reason"": ""My current plan is ..."
3,332,2022-08-05 23:25:15.000,2022-08-25 15:52:59.000,1,1,0,0,"[{""value"": ""1"", ""reason"": null}, {""value"": ""2""..."
4,445,2022-05-27 07:41:27.000,2022-05-27 07:43:36.000,1,0,0,1,"[{""value"": ""0"", ""reason"": ""My current plan is ..."

In [10]:
df = df[(df['activated_save'] != 0) | (df['activated_spend'] != 0) | (df['activated_rent'] != 0) | (df['activated_coach'] != 0)]
df['update_reason'] = df['update_reason'].fillna('None')

nosave = df[(df['activated_save']==0)]
nosave

,customer_id,upgraded_at,downgraded_at,activated_save,activated_spend,activated_rent,activated_coach,update_reason,upgrade_date,upgrade_time,downgrade_date,downgrade_time,days,interval,notes
42,2563,2022-04-01 13:09:51.000,2022-04-04 09:23:23.000,0,1,0,0,"[{""value"": ""1"", ""reason"": ""My current plan isn...",2022-04-01,13:09:51,2022-04-04,09:23:23,3 days,3,False
72,3264,2022-07-12 12:34:32.000,2022-07-19 23:07:35.000,0,1,0,0,None,2022-07-12,12:34:32,2022-07-19,23:07:35,7 days,7,False
109,4239,2022-04-02 12:05:01.000,2022-06-11 10:10:11.000,0,1,0,0,None,2022-04-02,12:05:01,2022-06-11,10:10:11,70 days,70,False
192,7222,2022-09-25 11:31:53.000,2022-10-01 20:51:02.000,0,1,0,0,"[{""value"": ""5"", ""reason"": null}]",2022-09-25,11:31:53,2022-10-01,20:51:02,6 days,6,False
289,10599,2022-05-25 19:22:34.000,2022-08-08 08:27:04.000,0,0,1,0,"[{""value"": ""4"", ""reason"": null}]",2022-05-25,19:22:34,2022-08-08,08:27:04,75 days,75,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44929,779448,2022-12-10 12:56:17.000,2022-12-10 13:10:19.000,0,1,0,0,"[{""value"": ""5"", ""reason"": null}]",2022-12-10,12:56:17,2022-12-10,13:10:19,0 days,0,False
44936,779637,2022-12-10 23:51:47.000,2022-12-13 10:34:37.000,0,1,0,0,"[{""note"": ""Member explained that they have a v...",2022-12-10,23:51:47,2022-12-13,10:34:37,3 days,3,True
44938,779648,2022-12-11 00:50:29.000,2022-12-11 01:03:12.000,0,1,0,0,None,2022-12-11,00:50:29,2022-12-11,01:03:12,0 days,0,False
45002,782032,2022-12-13 13:45:20.000,2022-12-13 14:02:09.000,0,1,0,0,"[{""note"": ""Wants to cancel in full"", ""value"": ...",2022-12-13,13:45:20,2022-12-13,14:02:09,0 days,0,True
45024,782869,2022-12-14 14:09:24.000,2022-12-14 14:26:20.000,0,1,0,0,"[{""value"": ""0"", ""reason"": ""I want to cancel my...",2022-12-14,14:09:24,2022-12-14,14:26:20,0 days,0,False

In [4]:
df['upgrade_date'] = pd.to_datetime(df['upgraded_at']).dt.date
df['upgrade_time'] = pd.to_datetime(df['upgraded_at']).dt.time
df['downgrade_date'] = pd.to_datetime(df['downgraded_at']).dt.date
df['downgrade_time'] = pd.to_datetime(df['downgraded_at']).dt.time

#df = df.drop(columns={'upgraded_at', 'downgraded_at'}, axis=1) - we want this

df['days'] = df['downgrade_date'] - df['upgrade_date']
df['interval']=df['days'].astype('timedelta64[D]').astype(int)

In [5]:
df['notes'] = df["update_reason"].str.startswith(('[{"note"', '[{"reason"'))
#df.head(10)

#check = df[(df['customer_id']==12748)]
#check

In [6]:
notes = df[(df['notes']==True)]
vals = df[(df['notes']==False)]

notes

,customer_id,upgraded_at,downgraded_at,activated_save,activated_spend,activated_rent,activated_coach,update_reason,upgrade_date,upgrade_time,downgrade_date,downgrade_time,days,interval,notes
1,252,2022-02-12 09:23:22.000,2022-03-14 16:17:01.000,1,0,0,0,"[{""note"": ""`Member wants to proceed with Save ...",2022-02-12,09:23:22,2022-03-14,16:17:01,30 days,30,True
7,548,2021-11-16 12:04:23.000,2022-09-20 16:31:40.000,1,0,0,0,"[{""note"": ""member request"", ""value"": ""2""}]",2021-11-16,12:04:23,2022-09-20,16:31:40,308 days,308,True
13,905,2022-09-06 21:11:54.000,2022-10-03 12:48:08.000,1,1,0,0,"[{""note"": ""customer request"", ""value"": ""0""}]",2022-09-06,21:11:54,2022-10-03,12:48:08,27 days,27,True
21,1497,2021-11-02 16:19:56.000,2022-07-15 14:34:15.000,1,0,0,0,"[{""note"": ""requested"", ""value"": ""2""}]",2021-11-02,16:19:56,2022-07-15,14:34:15,255 days,255,True
25,1689,2022-03-13 03:00:48.000,2022-03-14 13:37:00.000,1,1,0,0,"[{""note"": ""Wants Lite"", ""value"": ""3"", ""reason""...",2022-03-13,03:00:48,2022-03-14,13:37:00,1 days,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45003,782036,2022-12-13 14:30:33.000,2022-12-14 11:20:31.000,1,1,0,1,"[{""note"": ""member request"", ""value"": ""3"", ""rea...",2022-12-13,14:30:33,2022-12-14,11:20:31,1 days,1,True
45005,782207,2022-12-13 17:06:28.000,2022-12-13 17:13:57.000,1,0,0,0,"[{""note"": ""Only has lb save"", ""value"": ""2""}]",2022-12-13,17:06:28,2022-12-13,17:13:57,0 days,0,True
45047,783874,2022-12-15 11:36:06.000,2022-12-15 12:09:33.000,1,1,0,1,"[{""note"": ""Member request"", ""value"": ""3"", ""rea...",2022-12-15,11:36:06,2022-12-15,12:09:33,0 days,0,True
45049,783946,2022-12-15 12:42:48.000,2022-12-15 13:16:21.000,1,0,0,0,"[{""note"": ""Did not mean to sign up"", ""value"": ...",2022-12-15,12:42:48,2022-12-15,13:16:21,0 days,0,True
45052,784287,2022-12-15 18:51:13.000,2022-12-15 19:31:26.000,1,0,0,0,"[{""note"": ""Did not mean to sign up for paid me...",2022-12-15,18:51:13,2022-12-15,19:31:26,0 days,0,True

In [7]:
#extracting the numbers form the update_reason column
#creating a new column that removes text from the update_reason column and replaces it with nothing
vals['update_number'] = vals['update_reason'].str.replace(r'\D+', '')

#find "x" and replace with "x, " in update_number column
vals['update_number'] = vals['update_number'].str.replace('1', '1, ').str.replace('2', '2, ').str.replace('3', '3, ').str.replace('4', '4, ').str.replace('5', '5, ').str.replace('6', '6, ').str.replace('7', '7, ').str.replace('8', '8, ').str.replace('9', '9, ').str.replace('0', '0, ')

#removing the last comma in the update_number column
vals['update_number'] = vals['update_number'].str[:-2]

vals.head(10)

C:\Users\footb\AppData\Local\Temp\ipykernel_35572\1976684767.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  vals['update_number'] = vals['update_reason'].str.replace(r'\D+', '')
C:\Users\footb\AppData\Local\Temp\ipykernel_35572\1976684767.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vals['update_number'] = vals['update_reason'].str.replace(r'\D+', '')
C:\Users\footb\AppData\Local\Temp\ipykernel_35572\1976684767.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vals['update_number'] = vals['update_number'].str.replace('1', '1, ').str.replace('2', '2, ').str.replace('3', '3, ').str.replace('4', '4, ').str.replace('5', '5, ').str.replace('6', '6, ').str.replace('7', '7, ').str.replace('8', '8, ').str.replace('9', '9, ').str.replace('0', '0, ')
C:\Users\footb\AppData\Local\Temp\ipykernel_35572\1976684767.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vals['update_number'] = vals['update_number'].str[:-2]

,customer_id,upgraded_at,downgraded_at,activated_save,activated_spend,activated_rent,activated_coach,update_reason,upgrade_date,upgrade_time,downgrade_date,downgrade_time,days,interval,notes,update_number
0,18,2022-06-06 11:05:27.000,2022-11-16 20:34:41.000,1,0,1,0,"[{""value"": ""1"", ""reason"": null}]",2022-06-06,11:05:27,2022-11-16,20:34:41,163 days,163,False,1
2,267,2022-03-01 08:49:00.000,2022-05-08 12:37:56.000,1,0,0,0,"[{""value"": ""0"", ""reason"": ""My current plan is ...",2022-03-01,08:49:00,2022-05-08,12:37:56,68 days,68,False,"0, 1, 2"
3,332,2022-08-05 23:25:15.000,2022-08-25 15:52:59.000,1,1,0,0,"[{""value"": ""1"", ""reason"": null}, {""value"": ""2""...",2022-08-05,23:25:15,2022-08-25,15:52:59,20 days,20,False,"1, 2, 4"
4,445,2022-05-27 07:41:27.000,2022-05-27 07:43:36.000,1,0,0,1,"[{""value"": ""0"", ""reason"": ""My current plan is ...",2022-05-27,07:41:27,2022-05-27,07:43:36,0 days,0,False,0
5,454,2022-11-04 19:24:14.000,2022-11-04 20:56:40.000,1,0,0,0,"[{""value"": ""5"", ""reason"": null}]",2022-11-04,19:24:14,2022-11-04,20:56:40,0 days,0,False,5
6,492,2022-06-13 20:54:35.000,2022-07-10 16:40:52.000,1,1,0,1,"[{""value"": ""0"", ""reason"": ""I’m trying to save ...",2022-06-13,20:54:35,2022-07-10,16:40:52,27 days,27,False,0
8,641,2022-03-29 20:16:44.000,2022-12-13 03:11:26.000,1,1,0,0,"[{""value"": ""3"", ""reason"": null}, {""value"": ""4""...",2022-03-29,20:16:44,2022-12-13,03:11:26,259 days,259,False,"3, 4, 5"
9,661,2022-04-03 19:48:13.000,2022-04-07 08:08:38.000,1,0,0,1,None,2022-04-03,19:48:13,2022-04-07,08:08:38,4 days,4,False,
10,685,2022-01-24 10:32:29.000,2022-09-01 07:26:44.000,1,1,0,0,"[{""value"": ""1"", ""reason"": null}]",2022-01-24,10:32:29,2022-09-01,07:26:44,220 days,220,False,1
11,708,2022-05-21 12:53:49.000,2022-10-29 06:44:52.000,1,0,0,0,"[{""value"": ""1"", ""reason"": null}]",2022-05-21,12:53:49,2022-10-29,06:44:52,161 days,161,False,1

In [22]:
def format_reason(update_reason):
    return(str(update_reason).replace("[",'').replace("]",'').replace("{",'').replace("}",'|').replace('"',''))

vals['format_upreas'] = vals['update_reason'].apply(format_reason).astype(str)

vals[['1', '2', '3', '4', '5', '6']] = vals.format_upreas.str.split("|",n=5,expand=True)

def remove_value(text):
    if text.startswith('value: '):
        return text[len('value: '):]
    return text

def remove_reason(text):
    if text.startswith('reason: '):
        return text[len('reason: '):]
    return text

vals[['1', '2', '3', '4', '5', '6']].apply(remove_value)
vals

AttributeError: 'Series' object has no attribute 'startswith'

In [17]:
lst = []

for value in vals['update_reason']:
    str(value).replace('[','').replace(']','')
    lst.append(value)
    
reasons = pd.DataFrame(lst)
reasons

                                                       0
0                       [{"value": "1", "reason": null}]
1      [{"value": "0", "reason": "My current plan is ...
2      [{"value": "1", "reason": null}, {"value": "2"...
3      [{"value": "0", "reason": "My current plan is ...
4                       [{"value": "5", "reason": null}]
...                                                  ...
39630  [{"value": "1", "reason": "It's sneaky to offe...
39631  [{"value": "1", "reason": null}, {"value": "2"...
39632                   [{"value": "5", "reason": null}]
39633                   [{"value": "2", "reason": null}]
39634                   [{"value": "5", "reason": null}]

[39635 rows x 1 columns]

In [8]:
old_vals = vals[(vals['downgrade_date'] < datetime.date(2022,7,20))]
new_vals = vals[(vals['downgrade_date'] >= datetime.date(2022,7,20))]

In [ ]:
df = pd.concat([old, new])
df = df.sort_values(by=['customer_id'])

df.head()